div.game {
	margin: 50px auto;
	text-align: center;
}

div.game ul {
	/*source: http://lea.verou.me/css3patterns/#seigaiha*/
	background-color:silver;
	background-image:
	radial-gradient(circle at 100% 150%, silver 24%, white 25%, white 28%, silver 29%, silver 36%, white 36%, white 40%, transparent 40%, transparent),
	radial-gradient(circle at 0    150%, silver 24%, white 25%, white 28%, silver 29%, silver 36%, white 36%, white 40%, transparent 40%, transparent),
	radial-gradient(circle at 50%  100%, white 10%, silver 11%, silver 23%, white 24%, white 30%, silver 31%, silver 43%, white 44%, white 50%, silver 51%, silver 63%, white 64%, white 71%, transparent 71%, transparent),
	radial-gradient(circle at 100% 50%, white 5%, silver 6%, silver 15%, white 16%, white 20%, silver 21%, silver 30%, white 31%, white 35%, silver 36%, silver 45%, white 46%, white 49%, transparent 50%, transparent),
	radial-gradient(circle at 0    50%, white 5%, silver 6%, silver 15%, white 16%, white 20%, silver 21%, silver 30%, white 31%, white 35%, silver 36%, silver 45%, white 46%, white 49%, transparent 50%, transparent);
	background-size:100px 50px;

	list-style: none;
	margin:0 auto;
	display: inline-block;
	position: relative;
	border-radius: 15px;
	border: 15px solid #aaa;
	border: 15px solid hsla(0,0%,0%,.7);
	box-shadow: 0 0 10px 5px #aaa;
}

.game li {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */

	filter: alpha(opacity=96);
	opacity: .96;

	background-color: #292929;
	border-bottom: 1px solid black;
	border-left: 1px solid #3c3c3c;
	border-right: 1px solid black;
	border-top: 1px solid #3c3c3c;
	color: silver;
	cursor:pointer;
	display: inline;
	float: left;
	font-size: 1.3em;
	height: 50px;
	line-height: 50px;
	text-align: center;
	width: 50px;

	padding: 0;
	list-style: none;

}

.game .hover {
	background-color: #353535;
	color: #fff;
}

.game .selected {
	-webkit-transition: font-size .1s linear;
	-moz-transition: font-size .1s linear;
	-o-transition: font-size .1s linear;
	-ms-transition: font-size .1s linear;
	transition: font-size .1s linear;
	background-color: #494949;
	color: #fff;
	font-size: 2em;
}

.game .transition-invalid-answer:hover{
	-webkit-transition: background-color .15s linear;
	-moz-transition: background-color .15s linear;
	-o-transition: background-color .15s linear;
	-ms-transition: background-color .15s linear;
	transition: background-color .15s linear;
	background-color: #990000;
	border: 1px solid #590000;
	color:#ffcc33;
	cursor:default;
}

.game .used {
	-webkit-transition: background-color .3s linear;
	-moz-transition: background-color .3s linear;
	-o-transition: background-color .3s linear;
	-ms-transition: background-color .3s linear;
	transition: background-color .3s linear;
	background-color: transparent;
	border: 1px solid transparent;
	color: transparent;
	cursor:default;
	font-size: 2em;
}


.game li:nth-child(8n +1) {
	clear:left;
}


/* navigation */
div.navigation {
	margin-bottom: 5px;
}


h1.question {
	font-size: 20px;
}