/*** game container ***/
.game {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	display: block;
	margin: -25px auto 0;
	text-align: center;
}

/*** controls ***/
.reset {
	display: block;
	margin: 20px auto;
}

/*** game answers ***/
.answers {
	border-radius: 10px;
	border:15px solid rgba(245,245,245,.3);
	-webkit-box-shadow: 0 0 0 15px rgba(0,0,0,.1);
	box-shadow: 0 0 0 15px rgba(0,0,0,.1);

	display: inline-block;
	list-style: none;
	margin: 0 auto;
	padding: 0;
	position: relative;
}
.answers li {
	-webkit-transition: border-radius .1s cubic-bezier(.02,.96,.05,.97);
	-moz-transition: border-radius .1s cubic-bezier(.02,.96,.05,.97);
	-o-transition: border-radius .1s cubic-bezier(.02,.96,.05,.97);
	-ms-transition: border-radius .1s cubic-bezier(.02,.96,.05,.97);
	transition: border-radius .1s cubic-bezier(.02,.96,.05,.97);
	cursor: pointer;
	float: left;
	font-size: 1.4em;
	height: 50px;
	line-height: 50px;
	list-style: none;
	padding: 0;
	text-align: center;
	text-shadow: 1px 1px 1px rgba(2,2,2,.4);
	width: 50px;
}
.answers .selected {
	border-radius: 25px;
	color: #fff;
	font-size: 35px;
	line-height: 48px;
}
.answers .used {
	color: transparent;
	cursor: default;
	text-shadow: none;
}
.answers li:nth-child(8n+1) {
	clear: left;
}
.answers li.solution {
	border-radius: 25px;
	color: #fff;
	font-size: 35px;
	line-height: 48px;
}
.answers li.invalid {
	background-color: #990000;

}

/*** switch math operation ***/
#switch-operation {
	clear: both;
	height: 90px;
	font-size: 1.5em;
	overflow: visible;
	text-align: center;
	margin: 30px auto 0;
	width: 390px;
}
#switch-operation div {
	display: inline;
}
#switch-operation .active{
	cursor: default;
}
#switch-operation .inactive:hover {
	cursor: pointer;
	-webkit-opacity: .75;
	-moz-opacity: .75;
	opacity: .75;
}
#switch-operation .inactive {
	-webkit-opacity: .25;
	-moz-opacity: .25;
	opacity: .25;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
}
.switch.game .answers {
	border: 15px solid rgba(245,245,245,.3);
	box-shadow: 0 0 0 5px rgba(0,0,0,.1);
	margin: 0 5px;
}

/*** addition operator: green ***/
.operation.addition,
.answers.addition {
	background-color: #090;
	border: 15px solid rgba(245,245,245,.3);
	color: rgba(245,245,245,.9);
}
.addition .hover,
.addition .solution {
	background-color: #0b0;
	color: #fff;
}
.addition .selected,
.addition .used {
	background-color: #494949;

}
.addition .used {
	background-color: rgba(245, 245, 245, .7);
	color: transparent;
}

/*** subtraction operator: red ***/
.operation.subtraction,
.answers.subtraction {
	background-color: #c43;
	border: 15px solid rgba(245,245,245,.3);
	color: silver;
}
.subtraction .hover,
.subtraction .solution {
	background-color: #e64433;
	color: #fff;
}
.subtraction .selected,
.subtraction .used {
	background-color: #494949;
}
.subtraction .used {
	background-color: rgba(245, 245, 245, .7);
	color: transparent;
}

/*** multiplication operator: blue ***/
.operation.multiplication,
.answers.multiplication {
	background-color: #27c;
	border: 15px solid rgba(245,245,245,.3);
	color: silver;
}
.multiplication .hover,
.multiplication .solution {
	background-color: rgb(86, 163, 241);
	color: #fff;
}
.multiplication .selected,
.multiplication .used {
	background-color: #494949;
}
.multiplication .used {
	background-color: rgba(245, 245, 245, .7);
	color: transparent;
}

/*** division operator: yellow ***/
.operation.division,
.answers.division{
	background-color: #e99b0f;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(2,2,2,.4);
}
.division {
	border: 15px solid rgba(245,245,245,.3);
}
.division .hover,
.division .solution {
	background-color: rgb(236, 170, 51);
	color: #fff;
}
.division .selected,
.division .used {
	background-color: #494949;
}
.division .used {
	background-color: rgba(245, 245, 245, .7);
	color: transparent;
}

/*** level ***/
.level {
	font-size: 36px;
	font-weight: 700;
	margin: 20px auto;
	text-align: center;
}
.level-progress {
	border-radius: 10px;
	background: #e6e5e2;
	box-shadow: 0 0 14px 5px rgba(0, 0, 0, .1) inset;
}
.level-progress .percentage-container {
	-webkit-box-shadow: 0 0 0 3px rgba(0, 0, 0, .1);
	box-shadow: 0 0 0 3px rgba(0, 0, 0, .1);
	border-radius: 10px;
	cursor: default;
	position: relative;
}
div.level-progress div.percentage-container { /*** fix ***/
	overflow: hidden !important;
}
div.level-progress div.percentage { /*** fix ***/
	overflow: hidden !important;
}
div.percentage span {
	overflow: hidden !important;
}
.level-progress .percentage {
	-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, .25);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, .25);
	border-radius: 25px;
	border-width: 0;
	color: #fff;
	text-align: center;
	width: 0;
}
.level-progress .less {
	color: #666;
	border-radius:0;
}
.percentage.addition {
	background-color: #090;
	background: -webkit-linear-gradient(top, #1cbb1c, #090);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1cbb1c), to(#090));
	background: -moz-linear-gradient(top, #1cbb1c, #090);
	background: -ms-linear-gradient(top, #1cbb1c, #090);
	background: -o-linear-gradient(top, #1cbb1c, #090);
}
.percentage.subtraction {
	background-color: #090;
	background: -webkit-linear-gradient(top, #e66b5c, #c43);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e66b5c), to(#C43));
	background: -moz-linear-gradient(top, #e66b5c, #c43);
	background: -ms-linear-gradient(top, #e66b5c, #c43);
	background: -o-linear-gradient(top, #e66b5c, #c43);
}
.percentage.multiplication {
	background-color: #090;
	background: -webkit-linear-gradient(top, #5AA6F1, #27c);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#5AA6F1), to(#27c));
	background: -moz-linear-gradient(top, #5AA6F1, #27c);
	background: -ms-linear-gradient(top, #5AA6F1, #27c);
	background: -o-linear-gradient(top, #5AA6F1, #27c);
}
.percentage.division {
	background-color: #090;
	background: -webkit-linear-gradient(top, #ffac17, #e99b0f);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffac17), to(#e99b0f));
	background: -moz-linear-gradient(top, #ffac17, #e99b0f);
	background: -ms-linear-gradient(top, #ffac17, #e99b0f);
	background: -o-linear-gradient(top, #ffac17, #e99b0f);
}

/*** question ***/
.question {
	font-size: 1.5em;
	margin: 20px auto 30px;
	text-align: center;
}
.question span {
	cursor: default;
	display: inline-block;
	text-align: center;
	text-shadow: 1px 1px 1px rgba(2,2,2,.4);
}
.operation.addition ,
.operation.subtraction,
.operation.multiplication,
.operation.division {
	border-radius: 12px;
	border-width: 10px;
	color: #fff;
	-webkit-box-shadow: 0 0 0 2px rgba(0, 0, 0, .1);
	box-shadow: 0 0 0 2px rgba(0, 0, 0, .1);
	display: inline-block;
	font-size: 35px;
	height: 40px;
	line-height: 40px;
	margin: 0 10px;
	text-align: center;
	width: 40px;
}
.question .number,
.question .answer{
	-webkit-box-shadow: 0 0 0 5px rgba(0, 0, 0, .1);
	box-shadow: 0 0 0 5px rgba(0, 0, 0, .1);

	background-color: #494949;
	border-radius: 25px;
	color: #fff;
	font-size: 35px;
	height: 50px;
	line-height: 48px;
	min-width: 50px;
	margin: 8px 0;
}
.number span {
	margin: 0 15px;
}
.answer .vinculus {
	border-top: 3px solid white;
	height: 35px;
	line-height: 30px;
	margin: 0 15px 0 -15px;
}
.question .equal {
	font-size: 50px;
	height: 50px;
	margin: 0 10px;
}
.question-text {
	color: #fff;
	font-size: 1em;
	margin: 10px 0;
	text-shadow: 1px 1px 1px rgba(2,2,2,.4);
}

.question span.invalid {
	background-color: #990000;
}
.statement {
	color: #fff;
	text-align: center;
}
.statement .number {
	box-shadow: 0 0 0 5px rgba(0,0,0, .1);
	margin: 20px 0 0 0;
}
.statement .operation {
	border-radius: 10px;
	-webkit-box-shadow: 0 0 0 5px rgba(0, 0, 0, .1);
	box-shadow: 0 0 0 5px rgba(0, 0, 0, .1);
	margin: 0 15px;
}

