/*** game container ***/
div.game {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	display: block;
	margin: 10px auto;
	width: 430px;
}


/*** game answers ***/
.answers {
	border-radius: 15px;
	-webkit-box-shadow: 0 0 0 3px rgba(0, 0, 0, .1);
	box-shadow: 0 0 0 3px rgba(0, 0, 0, .1);
	display: inline-block;
	list-style: none;
	margin: 0 auto;
	padding: 0;
	position: relative;
}
.answers li {
	-webkit-transition: all .3s cubic-bezier(.02,.96,.05,.97);
	-moz-transition: all .3s cubic-bezier(.02,.96,.05,.97);
	-o-transition: all .3s cubic-bezier(.02,.96,.05,.97);
	-ms-transition: all .3s cubic-bezier(.02,.96,.05,.97);
	transition: all .3s cubic-bezier(.02,.96,.05,.97);
	cursor: pointer;
	float: left;
	font-size: 1.4em;
	height: 50px;
	line-height: 50px;
	list-style: none;
	padding: 0;
	text-align: center;
	width: 50px;
}
.answers .selected {
	border-radius: 25px;
	color: #fff;
	font-size: 35px;
	line-height: 48px;
}
.answers .invalid-answer:hover{
	background-color: #990000;
	color: #fff;
	cursor: pointer;
	font-size: 35px;
}
.answers .used {
	color: transparent;
	cursor: default;
}
.answers li:nth-child(8n+1) {
	clear: left;
}


/*** navigation ***/
.navigation {
	margin-bottom: 5px;
}


/*** addition operator: green ***/
.addition {
	background-color: #090;
	border: 15px solid rgba(245,245,245,.3);
	color: rgba(245,245,245,.9);
}
.addition li.hover {
	background-color: #0b0;
	color: #fff;
}
.addition li.selected,
.addition li.used {
	background-color: #494949;

}
.addition li.used {
	background-color: rgba(245, 245, 245, .7);
	color: transparent;
}

/*** subtraction operator: red ***/
.subtraction {
	background-color: #c43;
	border: 15px solid rgba(245,245,245,.3);
	color: silver;
}
.subtraction li.hover {
	background-color: #e64433;
	color: #fff;
}
.subtraction li.selected,
.subtraction li.used {
	background-color: #494949;

}
.subtraction li.used {
	background-color: rgba(245, 245, 245, .7);
	color: transparent;
}

/*** multiplication operator: blue ***/
.multiplication {
	background-color: #27c;
	border: 15px solid rgba(245,245,245,.3);
	color: silver;
}
.multiplication li.hover {
	background-color: rgb(86, 163, 241);
	color: #fff;
}
.multiplication li.selected,
.multiplication li.used {
	background-color: #494949;
}
.multiplication li.used {
	background-color: rgba(245, 245, 245, .7);
	color: transparent;
}

/*** division operator: yellow ***/
.division {
	background-color: #e99b0f;
	color: rgb(94, 88, 76);
}
.division {
	border: 15px solid rgba(245,245,245,.3);
}
.division .hover {
	background-color: rgb(236, 170, 51);
	color: #fff;
}
.division .selected,
.division .used {
	background-color: #494949;
}
.division .used {
	background-color: rgba(245, 245, 245, .7);
	color: transparent;
}
/***/

/*** question ***/
.level {
	font-size: 1.5em;
	margin: 20px auto;
	text-align: center;
}
/***/

/*** question ***/
.question {
	font-size: 1.5em;
	margin: 20px auto;
	text-align: center;
}
.question span {
	display: inline-block;
	text-align: center;
}
.question .addition,
.question .subtraction,
.question .multiplication,
.question .division {
	border-radius: 12px;
	border-width: 10px;
	-webkit-box-shadow: 0 0 0 2px rgba(0, 0, 0, .1);
	box-shadow: 0 0 0 2px rgba(0, 0, 0, .1);
	display: inline-block;
	font-size: 35px;
	height: 40px;
	line-height: 40px;
	margin: 0 10px;
	text-align: center;
	width: 40px;
}
.question .number,
.question .answer {
	background-color: #494949;
	border-radius: 25px;
	color: #fff;
	font-size: 35px;
	height: 50px;
	line-height: 48px;
	width: 50px;
}
.question .equal {
	font-size: 50px;
	height: 50px;
	margin: 0 5px;
}
.question .question-text {
	font-size: 18px;
	margin: 5px auto 0px;
}
