/*******************************************************************************
Modified Slate Theme for GitHub Pages
(original by Jason Costello, @jsncostello)
*******************************************************************************/

@import url(pygment_trac.css);

/*******************************************************************************
MeyerWeb Reset
*******************************************************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}

blockquote, q {
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a:focus {
	outline: none;
}

/*******************************************************************************
Theme Styles
*******************************************************************************/

body {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	background-attachment: fixed;
	background-color: rgb(255, 255, 255);
	color:#373737;
	font-family: 'Roboto', Calibri, Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5;
	margin:0;
	min-width: 500px;
	padding:0;
}
h1, h2, h3, h4, h5, h6 {
	margin: 10px 0;
	font-weight: 700;
	color:#222222;
	letter-spacing: -1px;
}

h1 {
	font-size: 36px;
	font-weight: 700;
}

h2 {
	padding-bottom: 10px;
	font-size: 32px;
	background: url('../images/bg_hr.png') repeat-x bottom;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 21px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}

p {
	margin: 10px 0 15px 0;
}
footer {
	width: 500px;

}
footer .valid{
	top: 30px;
	clear: both;
	display: block;
	position: absolute;
	right: 20px;
	text-align: center;
	width: 100px;
}
footer .valid img{
	margin: 0px;
}

footer p {
	color: #f2f2f2;
	font-size: 1em;
	margin: 1px 0;
	padding-left: 20px;
	text-shadow: 1px 1px 1px rgba(2,2,2,.4);
}

a {
	-webkit-transition: color 0.5s ease;
	-moz-transition: color 0.5s ease;
	-o-transition: color 0.5s ease;
	-ms-transition: color 0.5s ease;
	transition: color 0.5s ease;

	-webkit-transition: text-shadow 0.5s ease;
	-moz-transition: text-shadow 0.5s ease;
	-o-transition: text-shadow 0.5s ease;
	-ms-transition: text-shadow 0.5s ease;
	transition: text-shadow 0.5s ease;
	color: #007edf;
	text-decoration: none;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

#main_content a:hover {
	color: #0069ba;
	text-shadow: #0090ff 0 0 2px;
}

em {
	font-style: italic;
}

strong {
	font-weight: bold;
}

img {
	-webkit-box-shadow: 0 0 5px #ebebeb;
	box-shadow: 0 0 5px #ebebeb;
	border: 1px solid #ebebeb;
	margin: 10px auto;
	max-width: 739px;
	padding: 5px;
	position: relative;
}

footer img {
	-webkit-box-shadow: none;
	box-shadow: none;
	border: 0px;
}

pre, code {
	background-color: #fff;
	border-radius: 2px;
	color: #222;
	font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
	font-size: 14px;
	width: 100%;
}

pre {
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,.1);
	box-shadow: 0 0 10px rgba(0,0,0,.1);
	overflow: auto;
	padding: 10px;
	width: 100%;
}

code {
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,.1);
	box-shadow: 0 0 10px rgba(0,0,0,.1);
	margin: 0 3px;
	padding: 3px;
}

pre code {
	display: block;
	-webkit-box-shadow: none;
	box-shadow: none;
}

blockquote {
	border-left: 3px solid #bbb;
	color: #666;
	margin-bottom: 20px;
	padding: 0 0 0 20px;
}

ul, ol, dl {
	margin-bottom: 15px
}

ul li {
	list-style: inside;
	padding-left: 20px;
}

ol li {
	list-style: decimal inside;
	padding-left: 20px;
}

dl dt {
	font-weight: bold;
}

dl dd {
	font-style: italic;
	padding-left: 20px;
}

dl p {
	font-style: italic;
	padding-left: 20px;
}

hr {
	background: url('../images/bg_hr.png') repeat-x center;
	border: none;
	height: 1px;
	margin-bottom: 5px;
}

table {
	border: 1px solid #373737;
	margin-bottom: 20px;
	text-align: left;
 }

th {
	font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	padding: 10px;
	background: #373737;
	color: #fff;
 }

td {
	border: 1px solid #373737;
	padding: 10px;
 }

form {
	background: #f2f2f2;
	padding: 20px;
}

img {
	max-width: 100%;
	width: 100%;
}


/*******************************************************************************
Full-Width Styles
*******************************************************************************/
.darken {
	background-color: rgba(33, 33, 33, .8);
	padding:0;
}
.outer {
	margin: auto;
	width: auto;
}
.inner {
	margin: auto;
	max-width: none;
	position: relative;
}
#header_wrap {
	background-color: transparent;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}
#header_wrap .inner {
	padding: 0 10px;
}

#project_title {
	-webkit-text-stroke: 1px; /* chrome fix */
	clear: both;
	color: #fff;
	font-family: 'Wendy One', Calibri, Helvetica, Arial, sans-serif;
	font-size: 4.5em;
	font-weight: 100;
	line-height: 1em;
	margin: 0;
	padding-top: 50px;
	text-align: center;
	text-shadow: #111 0px 0px 15px;
}

#project_tagline {
	background: none;
	color: #fff;
	font-size: 1.5em;
	font-weight: 100;
	margin: 10px 0;
	text-align: center;
	text-shadow: #111 0px 0px 5px;
}

#progress {
  	width:170px;
  	height:136px;
    display: block;
	margin: 0 auto;
	position: relative;
	bottom:10px;
	right:0;
}
#gauge {
	width:inherit;
	height:inherit;
}
#main_content_wrap {
	background-color: transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-bottom: none;
	border-radius: 0;
	border-top: none;
}

#main_content {
	overflow: hidden;
	padding-top: 0px;
}

#footer_wrap {
	background-color: transparent;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	padding: 60px 0 30px 10px;
}


/*** body class addition operation ***/
.addition-operation {
	background-color: #093309; /* fallback */
	background: -webkit-radial-gradient(#19A719, #093309);
	background: -moz-radial-gradient(#19A719, #093309);
	background: -o-radial-gradient(#19A719, #093309);
	background: -ms-radial-gradient(#19A719, #093309);
	background: radial-gradient(#19A719, #093309);
}
.addition-operation #forkme_banner{
	background-color: #079707;
}
.addition-operation #forkme_banner:hover{
	background-color: #09AC09;
}
.addition-operation footer a {
	color: #090;
}
.addition-operation footer a:hover {
	color: #12AF12;
	text-shadow: #0CB10C 0 0 2px;
}
/*** body class subtraction operation ***/
.subtraction-operation {
	background-color: #210b08; /* fallback */
	background: -webkit-radial-gradient(#c43, #210b08);
	background: -moz-radial-gradient(#c43, #210b08);
	background: -o-radial-gradient(#c43, #210b08);
	background: -ms-radial-gradient(#c43, #210b08);
	background: radial-gradient(#c43, #210b08);

}
.subtraction-operation #forkme_banner{
	background-color: #c43;
}
.subtraction-operation #forkme_banner:hover{
	background-color: #E2503E;
}
.subtraction-operation footer a {
	color: #c43;
}
.subtraction-operation footer a:hover {
	color: #E94E3B;
	text-shadow: #D35748 0 0 2px;
}
/*** body class multiplication operation ***/
.multiplication-operation {
	background-color: #061321; /* fallback */
	background: -webkit-radial-gradient(#27c, #061321);
	background: -moz-radial-gradient(#27c, #061321);
	background: -o-radial-gradient(#27c, #061321);
	background: -ms-radial-gradient(#27c, #061321);
	background: radial-gradient(#27c, #061321);
}
.multiplication-operation #forkme_banner{
	background-color: #27c;
}
.multiplication-operation #forkme_banner:hover{
	background-color: #2A81D8;
}
.multiplication-operation footer a {
	color: #007edf;
}
.multiplication-operation footer a:hover {
	color: #43adff;
	text-shadow: #0090ff 0 0 2px;
}
/*** body class division operation ***/
.division-operation {
	background-color: #392503; /* fallback */
	background: -webkit-radial-gradient(#e2920b, #392503);
	background: -moz-radial-gradient(#e2920b, #392503);
	background: -o-radial-gradient(#e2920b, #392503);
	background: -ms-radial-gradient(#e2920b, #392503);
	background: radial-gradient(#e2920b, #392503);
}
.division-operation #forkme_banner{
	background-color: #D3911B;
}
.division-operation #forkme_banner:hover{
	background-color: #DF9D27;
}
.division-operation footer a {
	color: #e99b0f;
}
.division-operation footer a:hover {
	color: #E9A428;
	text-shadow: #E9AA39 0 0 2px;
}
.darken {
	background-color: transparent;
}
